/*
  Palette:
  #212423
  #eaf4f7
  #f03847
*/

/* General Styles */
#topPageInfo {
    width: 90%;
    max-width: 700px;
    text-align: left;
    padding-left: 10%;
}

#subtitle {
    width: 500px;
    max-width: 90%;
}

#moneyImage {
    padding-top: 0;
    width: 70%;
    max-width: 520px;
}

#sponsors {
    text-align: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#sponsorsText {
    margin-top: 10px;
}

#about {
    width: 600px;
    margin-left: auto;
    margin-right: 10%;
    text-align: right;
    float: right;
}

#about h1 {
    margin-left: auto;
}


#aboutParagraph {
    font-size: 1.1em;
}

#trackStuff {
    margin-left: 10%;
    margin-top: 30px;
    width: 25%;
}

#support {
    margin-top: 50px;
    width: 600px;
    margin-left: 100px;
    margin-right: 20%;
    text-align: left;
}

#donation {
    margin-right: 5%;
    margin-top: 30px;
    width: 25%;
    min-width: 250px;
}

#donationParagraph {
    font-size: 1.1em;
}

/* Marquee Styles */
.marquee {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}

.marqueeInside {
    display: inline-block;
    animation: marquee 15s linear infinite;
}

.marqueeInside img {
    width: 300px;
}

.marquee:hover .marqueeInside {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Scrollbar Styles */
::-webkit-scrollbar-thumb:active {
    background-color: #f03847;
}

@media (max-width: 800px) {
    #support {
        min-width: 75%;
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    #topPageInfo {
        padding-left: 8%;
    }

    #about {
        margin-left: 10%;
    }
}