/*
  Palette:
  #212423
  #eaf4f7
  #f03847
*/

#topPageInfo {
    width: 100%;
    max-width: 700px;
    text-align: left;
    margin-left: 10%;
}


#subtitle {
    width: 500px;
}

#moneyImage {
    padding-top: 0;
    width: 70%;
    max-width: 520px;
}

#sponsors {
    text-align: center;
}