/*
  Palette:
  #212423
  #eaf4f7
  #f03847
*/

.divImage {
  display:flex;
  margin-right: 0;
  margin-top: 50px;
}

#topPageInfo {
  width: 100%;
  max-width: 700px;
  text-align: left;
  margin-left: 10%;
}

h3 {
  color: #f03847;
  font-size: 1.6em;
  padding: 20px 0;
}

h1 {
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  line-height: 1.1;
}

#subtitle {
  width: 500px;
}

.italic {
  font-style: italic;
}

.fancy {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

#moneyImage {
  padding-top: 0;
  width: 70%;
  max-width: 520px;
}

