/*
  Palette:
  #212423
  #eaf4f7
  #f03847
*/


.divImage {
    display: flex;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 100px;
}

h3 {
    color: #f03847;
    font-size: 1.6em;
    padding: 20px 0;
}

h1 {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    line-height: 1.1;
}

h2 {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    line-height: 1.1;

}

.miniClickHere {
    font-family: "Bevan", serif;
    font-size: 1em;
    color: #eaf4f7;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-weight: bolder;
}

hr {
    opacity: 30%;
}

.italic {
    font-style: italic;
}

.fancy {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

#headerTitle {
    font-size: 2em;
    color: #f03847;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}

#header {
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    padding: 10px 20px;
}

#headerLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-left: 50px;
    margin-top: 10px;
}

#headerLinks a {
    color: #eaf4f7;
    text-decoration: none;
    font-size: 17px;
}

#headerLinks a:hover {
    color: #aa2c37;
}

#copyright {
    font-size: 14px;
    margin-top: 20px;
    color: #f03847;
    margin-left: 80px;
}

#footer {
    display: flex;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 0;
    height: 60px;
    background: #eaf4f7;
    width: 100%;
}

#socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 60px;
    margin-right: 50px;
    position: absolute; /*or fixed*/
    right: 0;
    padding-top: 3px;
}