/*
  Palette:
  #212423
  #eaf4f7
  #f03847
*/

/* General Styles */
.divImage {
    display: flex;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 100px;
}



html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1;
}

hr {
    opacity: 30%;
}

.italic {
    font-style: italic;
}

.fancy {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

/* Heading Styles */
h1, h2, h3 {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    color: #f03847;
    font-size: 1.6em;
    padding: 20px 0;
}

/* Mini Click Here Styles */
.miniClickHere {
    font-family: "Bevan", serif;
    font-size: 1em;
    color: #eaf4f7;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-weight: bolder;
}

/* Header Styles */
#header {
    display: flex;
    padding: 10px 20px;
}

#headerTitle {
    font-size: 2em;
    color: #f03847;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}

#headerLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-left: 50px;
    margin-top: 10px;
}

#headerLinks a {
    color: #eaf4f7;
    text-decoration: none;
    font-size: 17px;
}

#headerLinks a:hover {
    color: #aa2c37;
}

/* Footer Styles */
#footerTop {
    display: flex;
    padding: 0 20px;
    height: 70px;
    background: #eaf4f7;
    width: 100%;
}

#footerBottom {
    display: flex;
    padding: 0 20px;
    height: 70px;
    background: #eaf4f7;
    width: 100%;
    justify-content: space-between;
}

#infoLinks {
    display: block;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin-left: 50px;
    margin-top: -10px;
    font-size: 14px;
}

#moreLinks {
    text-align: center;
    max-width: 900px;
    margin-top: -10px;
    font-size: 14px;
}

#evenMoreLinks {
    max-width: 900px;
    margin-top: -10px;
    font-size: 14px;
    margin-right: 50px;
    text-align: right;
}

#footerBottom a {
    color: #f03847;
}

#footerBottom a:hover {
    color: #aa2c37;
}



#copyright {
    font-size: 14px;
    margin-top: 25px;
    color: #f03847;
    margin-left: 50px;
}

#newsletter {
    font-size: 14px;
    margin-top: 23px;
    color: #f03847;
    margin-left: 80px;
}

#newsletter input {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f03847;
}

#newsletter button {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f03847;
    background: #f03847;
    color: #eaf4f7;
}

#newsletter button:hover {
    background: #aa2c37;
    cursor: pointer;
}

/* Social Media Styles */
#socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 60px;
    margin-right: 50px;
    position: absolute; /* or fixed */
    right: 0;
    padding-top: 8px;
}





@media (max-width: 900px) {
    .divImage img {
        display: none;
    }

    .divImage {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 2.5em;
        max-width: 90%;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.3em;
    }

    #headerTitle {
        font-size: 1.5em;
    }

}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }

}

@media (max-width: 1100px) {
    #headerLinks a {
        font-size: 0.9em;
    }

    #headerLinks {
        margin-left: 20px;
    }
}

@media (max-width: 880px) {
    #headerLinks {
        max-width: 300px;
        max-height: 30px;
        margin-top: 17px;
        margin-left: auto;
        margin-right: 10px;

        background-color: white;
        border-style: solid;
        border-color: #f03847;
        color: black;
        font-style: italic;
        font-weight: bolder;
        border-radius: 10px;
    }


    #headerTitle {
        margin-right: 20px;
    }
}

@media (max-width: 400px) {
    #headerTitle {
        font-size: 1.3em;
    }

    #headerLinks {
        max-width: 300px;
        max-height: 22px;
        margin-top: 17px;
        margin-left: auto;
        margin-right: 10px;
    }
}