/*
  Palette:
  #212423
  #eaf4f7
  #f03847
*/

/* General Styles */
.divImage {
    display: flex;
    margin-right: 0;
    margin-top: 50px;
    margin-bottom: 100px;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1;
}

hr {
    opacity: 30%;
}

.italic {
    font-style: italic;
}

.fancy {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

/* Heading Styles */
h1, h2, h3 {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    color: #f03847;
    font-size: 1.6em;
    padding: 20px 0;
}

/* Mini Click Here Styles */
.miniClickHere {
    font-family: "Bevan", serif;
    font-size: 1em;
    color: #eaf4f7;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-weight: bolder;
}

/* Header Styles */
#header {
    display: flex;
    padding: 10px 20px;
}

#headerTitle {
    font-size: 2em;
    color: #f03847;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}

#headerLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-left: 50px;
    margin-top: 10px;
}

#headerLinks a {
    color: #eaf4f7;
    text-decoration: none;
    font-size: 17px;
}

#headerLinks a:hover {
    color: #aa2c37;
}

/* Footer Styles */
#footer {
    display: flex;
    padding: 0 20px;
    height: 70px;
    background: #eaf4f7;
    width: 100%;
}



#copyright {
    font-size: 14px;
    margin-top: 25px;
    color: #f03847;
    margin-left: 80px;
}

#newsletter {
    font-size: 14px;
    margin-top: 23px;
    color: #f03847;
    margin-left: 80px;
}

#newsletter input {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f03847;
}

#newsletter button {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #f03847;
    background: #f03847;
    color: #eaf4f7;
}

#newsletter button:hover {
    background: #aa2c37;
    cursor: pointer;
}

/* Social Media Styles */
#socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 60px;
    margin-right: 50px;
    position: absolute; /* or fixed */
    right: 0;
    padding-top: 8px;
}

