.marqueeInside {
    display: inline-block;
}

.marquee {
    width: 100%;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}

.marquee .marqueeInside {
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee:hover .marqueeInside {
    animation-play-state: paused;
}