/*
  Palette:
  #212423
  #eaf4f7
  #f03847
*/

/* General Styles */
#subtitle {
    width: 500px;
}

#people {
    padding-top: 0;
    width: 30%;
    max-width: 400px;
}

.person {
    width: 400px;
    max-width: 90%;
    border-style: solid;
    border-color: #f03847;

    margin: 10px;
    padding: 10px;
    background: #eaf4f7;
    color: #f03847;
    text-align: center;
    border-radius: 10px;
}

#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.person img {
    width: 350px;
    border-radius: 15px;
    max-width: 90%;
}
